html {
  font-family: arimo, sans-serif;
  padding: 10px;
  box-shadow: 2px 2px 8px #999999;
  background: #F6F6F6;
  width: 500px;
}

#logo {
  width: 30px;
  border: 7px solid #ffffff;
  border-radius: 50%;
  background: white;
  vertical-align: middle;
}

h2 {
  font-size: 20px;
  position: relative;
  display: inline;
}

h3 {
  margin-bottom: 5px;
}

.mainInput {
  width: 300px;
}

.timeInput {
  width: 50px;
}

.lists {
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  padding: 1px 20px 15px 20px;
  border-radius: 10px;
}



/* https://codepen.io/stickybiscuits/pen/qBrMKVO */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch #toggle {
  position: absolute; 
  left: 70px; 
  top: 8px; 
  white-space: nowrap;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E3EEFA;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0px 0px 0px 2px #bababa;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}