body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  font-family: poppins;
  font-size: 30px;
  text-shadow: 10px 10px 15px #000000;
  /*color: #3366ff;*/
  color:lightseagreen;
  background: grey;
  /*https://darebee.com/workouts/everyday-stretching-workout.html*/
  background-image:url("/logos/stretching.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  /*opacity: 0.5;*/
  font-weight: bold;
}

.website {
  font-weight: bold;
  display: inline;
  color: lightcoral;
}

.task {
  font-weight: bold;
  display: inline;
  color: seagreen;
}


/*Button from: https://codepen.io/davidicus/pen/emgQKJ */
.buttons {
  cursor: pointer;
  display: inline;
  position: relative;
  top: 50px;
  /*left: 80px;*/
}

.btn {
  cursor: pointer;
  display: inline;
  font-size: 20px;
  position: relative;
  text-decoration: none;
  padding: 12px;
  margin: 50px;
  color: darkred;
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: darkcyan;
} 

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
